/* ============================= */
/* BASE HIDDEN STATE */
/* ============================= */

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition:
    opacity 0.9s cubic-bezier(.22,1,.36,1),
    transform 0.9s cubic-bezier(.22,1,.36,1);
}

/* ============================= */
/* ACTIVE STATE */
/* ============================= */

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* ============================= */
/* LEFT SLIDE */
/* ============================= */

.reveal-left {
  opacity: 0;
  transform: translateX(-60px);
  transition:
    opacity 0.9s cubic-bezier(.22,1,.36,1),
    transform 0.9s cubic-bezier(.22,1,.36,1);
}

.reveal-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* ============================= */
/* RIGHT SLIDE */
/* ============================= */

.reveal-right {
  opacity: 0;
  transform: translateX(60px);
  transition:
    opacity 0.9s cubic-bezier(.22,1,.36,1),
    transform 0.9s cubic-bezier(.22,1,.36,1);
}

.reveal-right.active {
  opacity: 1;
  transform: translateX(0);
}
